@import '../../style/theme.scss';

.container {
  display: flex;
  max-width: 736px;
  border-radius: 8px;
  gap: .75rem;
  padding: 1rem;
  background: $gray500;
  border: 1px solid $gray400;

  &.completed {
    border-color: $gray500;

    p {
      text-decoration: line-through;
      color: $gray300;
    }
  }

  input[type=checkbox] {
    appearance: none;
    margin: .4375rem;
    width: 1.0938rem;
    height: 1.0938rem;
    border-radius: 50%;
    border: .125rem solid $blue;
    cursor: pointer;
    transition: border-color, background-color, .2s;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      border-color: $blue-dark;
      background-color: rgba($blue-dark, 0.2);
    }

    &:checked {
      background-color: $purple-dark;
      border-color: $purple-dark;

      &:hover {
        background-color: $purple;
        border-color: $purple;
      }

      &::before {
        content: url("data:image/svg+xml,%3Csvg width='10' height='7' viewBox='0 0 10 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.43107 0.342093L4.09914 4.67403L1.61667 2.19156L0.780762 3.02747L4.09914 6.34584L9.26698 1.178L8.43107 0.342093Z' fill='%23F2F2F2'/%3E%3C/svg%3E%0A");
        padding-bottom: 2px;
      }
    }
  }

  p {
    width: 100%;
    font-size: .875rem;
  }

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 24px;
    height: 24px;
    border-radius: 4px;
    border: none;
    background: transparent;
    font-size: .875rem;

    &:hover {
      background: $gray400;

      svg {
        color: $danger;
      }
    }
  }
}